@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

#elementoSugerido{
		margin-top: 3%;
}
	.sugeridos{	
		background-color: blue;
		width: 20%;
		height: 30%;
		display: inline-block;
		margin: 1% 1% 1% 1%;
		margin-left: 8%;		
	}
	
	.recientes{
		background-color: blue;
		width: 20%;
		height: 30%;
		display: inline-block;
		margin: 1%;
		margin-left: 8%;		

	}
	.ultimasBusquedas{
		width: 90%;
		height: 20%;
		margin: 1% 5% 1% 3%;
		background-color: blue;
		margin-left: 5%;
	}
}

@media only screen and (min-device-width : 1025px) and (max-device-width : 3024px) {

#elementoSugerido{
		margin-top: 3%;
}
	.sugeridos{	
		background-color: blue;
		width: 20%;
		height: 30%;
		display: inline-block;
		margin: 1% 1% 1% 1%;
		margin-left: 8%;		
	}
	
	.recientes{
		background-color: blue;
		width: 20%;
		height: 30%;
		display: inline-block;
		margin: 1%;
		margin-left: 8%;		

	}
	.ultimasBusquedas{
		width: 90%;
		height: 20%;
		margin: 1% 5% 1% 3%;
		background-color: blue;
		margin-left: 5%;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
#elementoSugerido{
		margin-top: 3%;
}
	.sugeridos{	
		background-color: blue;
		width: 30%;
		height: 20%;
		display: inline-block;
		margin: 1% 1% 1% 1%;		
	}
	
	.recientes{
		background-color: blue;
		width: 30%;
		height: 20%;
		display: inline-block;
		margin: 1%;
	}
	.ultimasBusquedas{
		width: 90%;
		height: 20%;
		margin: 1% 5% 1% 3%;
		background-color: blue;
	}
}
}


