.categoria{
    text-align: center;
    width: 90%;
    font-size: larger;
    background-color: #fffda0;
    border: 0px;
    transition: all 0.3s;
    padding: 10px 0px 10px 0px;
}
.categoria:hover{
    background-color: #dddb89;
}
.primeraOpcion{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
}
.ultimaOpcion{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 50px;
}