
.imgFooter{
    height: 30px;
    margin: 5px;
}
.menuFooter{
    display: inline-block;
    text-align: center;
    width: 20%;
    background: #0ff;
    margin: 0px -2px 0px -2px;
    height: 100%;
    transition: all 0.4s;
    cursor: pointer;
}
.menuFooter:hover{
    background: #02d1d1;
}
.footer{
    text-align: center;
    width: 100%;
    position: fixed;
    background: #00ff90;
    height: 40px;
    bottom: 0px;
    z-index: 50;
}
