
.imgHeader{
    height: 30px;
    margin: 5px;
}
.menuHeader{
    display: inline-block;
    text-align: center;
    width: 33.3333333%;
    background: #0ff;
    margin: 0px -2px 0px -2px;
    height: 100%;
    transition: all 0.4s;
    cursor: pointer;
}
.menuHeader:hover{
    background: #02d1d1;
}
.bannerHeader{
    text-align: center;
    width: 100%;
    background: #00ff90;
    height: 40px;
    top: 0px;
    z-index: 50;
}
