#textPublicacion{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 5px 0px 5px 5px;
    padding: 10px;
    border: 0px;
    background-color: #0094ff;
    color: #fff;
    text-align: right;
    font-weight: bold;
}
#btnDB{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 5px 5px 5px 0px;
    padding: 10px;
    border: 0px;
}
input::-webkit-input-placeholder {
	color: #bfe4ff;
	text-transform: lowercase;
}
input::-moz-placeholder {
	color: #bfe4ff;
	text-transform: lowercase;
}
input:-moz-placeholder {   /* Older versions of Firefox */
	color: #bfe4ff;
	text-transform: lowercase;
}
input:-ms-input-placeholder { 
	color: #bfe4ff;
	text-transform: lowercase;
}
