body {
    background: #4ab3ff;
}
#ctnLogin{
    text-align: center;
    padding-top: 30px;
}
#formLogin{
}
#fondoLogin{
    margin:     auto;
    padding: 30px 0px 30px 0px;
    background: #5ebbff;
    max-width: 300px;
    border-radius: 30px;
    margin-bottom: 60px;
}
.register{
    display: none;
}
.loginCheckBox{
    margin: 10px 10px 0px 0px;
}
.loginSubmitBtn{
    background: #ff6868;
    color: #fff;
    border: 0px;
    border-radius: 50px;
    font-size: medium;
    margin: 10px 0px 0px 0px;
    padding: 3px 10px 3px 10px;
    transition: all 0.3s;
    
}
.loginSubmitBtn#loginRegisterBtn{
    background: #4ab3ff;
}

.loginSubmitBtn:hover{
   -moz-box-shadow:    inset 0 0 10px #dedede;
   -webkit-box-shadow: inset 0 0 10px #dedede;
   box-shadow:         inset 0 0 10px #dedede;
}

.loginInputText{
    font-size: large;
    text-align: center;
    border: 0px;
    border-radius: 5px;
    color: #000;
    max-width: 200px;
    margin: 10px 0px 0px 0px;
}
#logo{
    width: 100px;
    margin-bottom: 20px;
}
input::-webkit-input-placeholder {
	color: #dedede;
	text-transform: lowercase;
}
input::-moz-placeholder {
	color: #dedede;
	text-transform: lowercase;
}
input:-moz-placeholder {   /* Older versions of Firefox */
	color: #dedede;
	text-transform: lowercase;
}
input:-ms-input-placeholder { 
	color: #dedede;
	text-transform: lowercase;
}
.msgError{
    color: #ffe7e7;
    font-size: small;
    text-align: center;
    margin: 0px;
    padding: 0px 3px 3px 3px;
}
#errorEmail{
    display: none;
    color: #dae81f;
}