/* line 784, sprites/*.png */
.sprites-sprite, .sprites-align7, .sprites-arrow63, .sprites-arrow64, .sprites-arrow73, .sprites-arrows4, .sprites-ascendant, .sprites-attachment3, .sprites-checkmark2, .sprites-chevron8, .sprites-circle9, .sprites-clockwise, .sprites-code3, .sprites-conversation1, .sprites-cross5, .sprites-days, .sprites-direction1, .sprites-down5, .sprites-down6, .sprites-download12, .sprites-edit4, .sprites-export, .sprites-eye8, .sprites-feed, .sprites-folder24, .sprites-forward1, .sprites-frontal, .sprites-gaming, .sprites-gear, .sprites-graph3, .sprites-graph7, .sprites-graph8, .sprites-headset1, .sprites-heart10, .sprites-help2, .sprites-home11, .sprites-info6, .sprites-justify, .sprites-left11, .sprites-left17, .sprites-line4, .sprites-loading, .sprites-location12, .sprites-lock5, .sprites-loop4, .sprites-mail5, .sprites-map4, .sprites-media11, .sprites-media12, .sprites-menu10, .sprites-microphone6, .sprites-mobile5, .sprites-mobile7, .sprites-move5, .sprites-multimedia1, .sprites-new8, .sprites-next5, .sprites-note3, .sprites-open15, .sprites-open16, .sprites-outline3, .sprites-outlined, .sprites-phone14, .sprites-photo7, .sprites-plus13, .sprites-print1, .sprites-question2, .sprites-rectangular1, .sprites-reply2, .sprites-reply4, .sprites-return5, .sprites-retweet1, .sprites-search6, .sprites-star11, .sprites-stop4, .sprites-tablet4, .sprites-tablet5, .sprites-text15, .sprites-text2, .sprites-thin2, .sprites-thin6, .sprites-thumbs9, .sprites-thumbup, .sprites-trash3, .sprites-triangle4, .sprites-upload8, .sprites-user14, .sprites-user15, .sprites-view, .sprites-view2, .sprites-view3, .sprites-volume12, .sprites-volume5, .sprites-window12 {
  background-image: url('../img/sprites-sfa9a326d8b.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-align7 {
  background-position: 0 -16666px;
  height: 467px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-arrow63 {
  background-position: 0 -10735px;
  height: 443px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-arrow64 {
  background-position: 0 -36930px;
  height: 669px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-arrow73 {
  background-position: 0 -44506px;
  height: 886px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-arrows4 {
  background-position: 0 -12969px;
  height: 450px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-ascendant {
  background-position: 0 -950px;
  height: 296px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-attachment3 {
  background-position: 0 -31528px;
  height: 548px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-checkmark2 {
  background-position: 0 -4183px;
  height: 371px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-chevron8 {
  background-position: 0 -654px;
  height: 296px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-circle9 {
  background-position: 0 -20075px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-clockwise {
  background-position: 0 -9868px;
  height: 433px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-code3 {
  background-position: 0 -3099px;
  height: 355px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-conversation1 {
  background-position: 0 -4554px;
  height: 379px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-cross5 {
  background-position: 0 -21611px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-days {
  background-position: 0 -13419px;
  height: 459px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-direction1 {
  background-position: 0 -24171px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-down5 {
  background-position: 0 -37599px;
  height: 669px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-down6 {
  background-position: 0 -34359px;
  height: 592px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-download12 {
  background-position: 0 -28321px;
  height: 526px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-edit4 {
  background-position: 0 -32629px;
  height: 569px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-export {
  background-position: 0 -8578px;
  height: 428px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-eye8 {
  background-position: 0 -1246px;
  height: 297px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-feed {
  background-position: 0 -25198px;
  height: 515px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-folder24 {
  background-position: 0 -10301px;
  height: 434px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-forward1 {
  background-position: 0 -6111px;
  height: 394px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-frontal {
  background-position: 0 -9436px;
  height: 432px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-gaming {
  background-position: 0 -2760px;
  height: 339px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-gear {
  background-position: 0 -21099px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-graph3 {
  background-position: 0 -6901px;
  height: 405px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-graph7 {
  background-position: 0 -19563px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-graph8 {
  background-position: 0 -38268px;
  height: 691px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-headset1 {
  background-position: 0 -32076px;
  height: 553px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-heart10 {
  background-position: 0 -14340px;
  height: 462px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-help2 {
  background-position: 0 -23147px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-home11 {
  background-position: 0 -26748px;
  height: 523px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-info6 {
  background-position: 0 -20587px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-justify {
  background-position: 0 -16199px;
  height: 467px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-left11 {
  background-position: 0 -15732px;
  height: 467px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-left17 {
  background-position: 0 -43620px;
  height: 886px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-line4 {
  background-position: 0 0;
  height: 94px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-loading {
  background-position: 0 -29908px;
  height: 536px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-location12 {
  background-position: 0 -38959px;
  height: 699px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-lock5 {
  background-position: 0 -39658px;
  height: 730px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-loop4 {
  background-position: 0 -13878px;
  height: 462px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-mail5 {
  background-position: 0 -1543px;
  height: 297px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-map4 {
  background-position: 0 -12519px;
  height: 450px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-media11 {
  background-position: 0 -41881px;
  height: 860px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-media12 {
  background-position: 0 -41118px;
  height: 763px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-menu10 {
  background-position: 0 -17133px;
  height: 468px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-microphone6 {
  background-position: 0 -45392px;
  height: 938px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-mobile5 {
  background-position: 0 -42741px;
  height: 879px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-mobile7 {
  background-position: 0 -1840px;
  height: 298px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-move5 {
  background-position: 0 -24683px;
  height: 515px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-multimedia1 {
  background-position: 0 -29373px;
  height: 535px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-new8 {
  background-position: 0 -35609px;
  height: 658px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-next5 {
  background-position: 0 -30444px;
  height: 540px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-note3 {
  background-position: 0 -26230px;
  height: 518px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-open15 {
  background-position: 0 -40388px;
  height: 730px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-open16 {
  background-position: 0 -3454px;
  height: 359px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-outline3 {
  background-position: 0 -363px;
  height: 291px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-outlined {
  background-position: 0 -33767px;
  height: 592px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-phone14 {
  background-position: 0 -22123px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-photo7 {
  background-position: 0 -8150px;
  height: 428px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-plus13 {
  background-position: 0 -23659px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-print1 {
  background-position: 0 -18077px;
  height: 485px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-question2 {
  background-position: 0 -22635px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-rectangular1 {
  background-position: 0 -11178px;
  height: 443px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-reply2 {
  background-position: 0 -2444px;
  height: 316px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-reply4 {
  background-position: 0 -5717px;
  height: 394px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-return5 {
  background-position: 0 -9006px;
  height: 430px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-retweet1 {
  background-position: 0 -94px;
  height: 269px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-search6 {
  background-position: 0 -25713px;
  height: 517px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-star11 {
  background-position: 0 -18562px;
  height: 489px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-stop4 {
  background-position: 0 -19051px;
  height: 512px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-tablet4 {
  background-position: 0 -6505px;
  height: 396px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-tablet5 {
  background-position: 0 -36267px;
  height: 663px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-text15 {
  background-position: 0 -14802px;
  height: 464px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-text2 {
  background-position: 0 -34951px;
  height: 658px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-thin2 {
  background-position: 0 -4933px;
  height: 392px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-thin6 {
  background-position: 0 -5325px;
  height: 392px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-thumbs9 {
  background-position: 0 -27796px;
  height: 525px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-thumbup {
  background-position: 0 -27271px;
  height: 525px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-trash3 {
  background-position: 0 -30984px;
  height: 544px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-triangle4 {
  background-position: 0 -11621px;
  height: 449px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-upload8 {
  background-position: 0 -28847px;
  height: 526px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-user14 {
  background-position: 0 -17601px;
  height: 476px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-user15 {
  background-position: 0 -3813px;
  height: 370px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-view {
  background-position: 0 -12070px;
  height: 449px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-view2 {
  background-position: 0 -7724px;
  height: 426px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-view3 {
  background-position: 0 -2138px;
  height: 306px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-volume12 {
  background-position: 0 -15266px;
  height: 466px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-volume5 {
  background-position: 0 -33198px;
  height: 569px;
  width: 512px;
}

/* line 84, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-window12 {
  background-position: 0 -7306px;
  height: 418px;
  width: 512px;
}

/* line 5, ../sass/main.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/main.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/main.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 44, ../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 50, ../sass/main.scss */
textarea {
  resize: vertical;
}

/* line 54, ../sass/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 99, ../sass/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 106, ../sass/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 113, ../sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 118, ../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 129, ../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 139, ../sass/main.scss */
.invisible {
  visibility: hidden;
}

/* line 143, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 149, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/* line 153, ../sass/main.scss */
.clearfix {
  *zoom: 1;
}

body{
    text-align: center;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 162, ../sass/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 169, ../sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 174, ../sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 178, ../sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 182, ../sass/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 188, ../sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 194, ../sass/main.scss */
  thead {
    display: table-header-group;
  }

  /* line 198, ../sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 203, ../sass/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 211, ../sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 218, ../sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
