
.numeroPaginador{
    color: #0026ff;
    text-decoration: none;
    margin: 0px 5px 0px 5px;
}
.seleccionado{
    color: #f00;
    margin: 0px 5px 0px 5px;
    font-weight: bolder;
    border-radius: 50px;
    background: #ffc6c6;
    text-decoration: none;
    padding: 5px;        
}
#paginador{
    border-radius: 50px;
    background: #d0d8ff;
    border: 0px;
    padding: 5px 15px 5px 15px;
    display: inline-block;
    text-align: center;
    margin-bottom: 60px;
}