#imgUsuario{
    width: 45%;
    border-radius: 100%;
}
#contenedorFotoUsuario{
}
.informacionUsuario{
    text-align: center;
    padding: 20px 20px 20px 20px;
}
.subtitulo{
    color: #ffd800;
    font-size: 20pt;
    font-weight: bold;
}
.valor{
    color: #808080;
    font-size: 15pt;
    
}

.botonPerfil{
    display: inline;
    text-transform: uppercase;
    color: #ffffff;
    width: 90%;
    border-radius: 100px;
    margin: 10px;  
    border: 0px;
    padding: 10px;
    font-size: large;
    transition: all 0.4s;
}

#btnLogout{
    background: #ff7f7f;
}

#btnLogout:hover{
    background: #ff7575;
}

#btnEditar{
    background: #808080;
}
#btnEditar:hover{
    background: #919191;
}

#contenedorPerfil{
    margin-bottom: 40px;    
}