/* line 12, ../sass/vista.scss */
.contenedor {
  background-color: black;
  width: 500px;
  height: 700px;
  position: absolute;
}

/* line 20, ../sass/vista.scss */
#producto1 {
  background-color: orange;
  width: 450px;
  height: 130px;
  position: relative;
  margin-top: 20%;
  margin-right: auto;
  margin-left: auto;
}

/* line 34, ../sass/vista.scss */
#imagenProducto1 {
  background-color: black;
  width: 120px;
  height: 120px;
  margin-left: 2%;
  float: left;
  margin-top: 1%;
}

/* line 44, ../sass/vista.scss */
#informacionProducto1 {
  background-color: white;
  width: 300px;
  height: 120px;
  float: right;
  margin-right: 2%;
  margin-top: 1%;
}

/* line 55, ../sass/vista.scss */
#producto2 {
  background-color: orange;
  width: 130px;
  height: 170px;
  position: absolute;
  margin-top: 20%;
  margin-right: 10%;
  margin-left: 10%;
}

/* line 69, ../sass/vista.scss */
#imagenProducto2 {
  background-color: black;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

/* line 79, ../sass/vista.scss */
#informacionProducto2 {
  background-color: white;
  width: 120px;
  height: 30px;
  float: center;
  margin-left: auto;
  margin-top: 4%;
  margin-right: auto;
}
