// VARIABLES

$colorFondoContenedor: black;
$colorFondoProducto: orange;
$colorFondoImagenProducto: black;
$colorFondoInformacionProducto: white;





.contenedor
{
	background-color: $colorFondoContenedor; 
	width: 500px;
	height: 700px;
	position: absolute;
}

#producto1
{
	background-color: $colorFondoProducto;
	width: 450px;
	height: 130px;
	position: relative;
	margin:
	{
		top: 20%;
		right: auto;
		left: auto;
	}
}

#imagenProducto1
{
	background-color: $colorFondoImagenProducto;
	width: 120px;
	height: 120px;
	margin-left: 2%;
	float: left;
	margin-top: 1%;
}

#informacionProducto1
{
	background-color: $colorFondoInformacionProducto;
	width: 300px;
	height: 120px;
	float: right;
	margin-right: 2%;
	margin-top: 1%;
}


#producto2
{
	background-color: $colorFondoProducto;
	width: 130px;
	height: 170px;
	position: absolute;
	margin:
	{
		top: 20%;
		right: 10%;
		left: 10%;
	}
}

#imagenProducto2
{
	background-color: $colorFondoImagenProducto;
	width: 120px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

#informacionProducto2
{
	background-color: $colorFondoInformacionProducto;
	width: 120px;
	height: 30px;
	float: center;
	margin-left: auto;
	margin-top: 4%;
	margin-right: auto;
}